body {
  background-color: #e0f3ca;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}
.txt{
  font-size: 25px;
}
html {
  overflow-x: hidden;
}
.time{
  margin-bottom: 100px;
  margin-right: 100px;
}
.score1{

}

.click {
  position: relative;
  height: 50px;
  width: 150px;
  margin: 0 35px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #189813;
  color: #e0f3ca;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}